*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 16px;
    
}

header li a{
    color: #f5f6fa;
    text-decoration: none;

}

.container{
    width: 1366px;
    margin: 10 auto;
    
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: #2201df;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
    
}

.articles article h3{
    font-size: 24px;

}

section h2{
    font-size: 32px;


}
#sports{
    background-color: rgba(0, 255, 0, 0.178);
}

#sports .articles article a{
    background-color: #009432;
    color: #000;
}

#economy {
    background-color: #faf675be;
}

#economy .articles article a{
    background-color: #fcbc34be;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#Entretenimento {
    background-color: #a33d96cb;
}

#Entretenimento .articles article a{
    background-color: #8a0077a4;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#tecnologia {
    background-color: #54c8cccb;
}

#tecnologia .articles article a{
    background-color: #0158aaa4;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}